GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_API_KEY=
NEXT_PUBLIC_GITHUB_REPOSITORY_URL=https://github.com/your-name/uirift
NEXT_PUBLIC_AUTH_ENABLED=false
